<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eng.android.nd.marwatalaat.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RecipeDetail"
            android:configChanges="screenLayout|screenSize|orientation"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RecipeStepDetail"
            android:label="@string/title_activity_recipe_step_detail"
            android:parentActivityName=".ui.RecipeDetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RecipeIngredient"
            android:label="@string/title_activity_recipe_ind"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".data.BakingProvider"
            android:authorities="eng.marwa.baking"
            android:exported="true"/>

        <service
            android:name=".sync.RecipeIntentService"
            android:exported="true" />
        <service
            android:name=".sync.RecipeJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".widget.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <!-- receive notification from application to update widget -->
                <action android:name="com.udacity.baking.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_info" />
        </receiver>

        <service
            android:name=".widget.BakingWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>